@import 'variables';

.main-simulacros{
    margin-top: 15px ;
    .container{
        h2{
            text-align: center;
        }
    }
    .carousel-item{
.I_C{ 
    height: auto;
    display: flex;
    justify-content: center;
    margin: auto;
}
h5{
    background-color: $color-fuente;
}
    }
}